<div class="col-xl-4 col-lg-6 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="products/@product.Id">
                    <img src="https://dummyimage.com/1200x900/000/fff" class="img-fluid" alt="@product.Description"/>
                </a>
                <p class="my-2 text-justify">
                    @product.Description
                </p>
                <p class="mb-1">
                    <strong>Quantity</strong> @product.QuantityInStock
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="h5 mb-4">@product.Name $@product.RetailPrice</p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ProductModel product { get; set; }

}