@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    Welcome @context.User.FindFirst(ClaimTypes.Name).Value
                    <NavLink href="logout" class="nav-link">Logout</NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <NavLink href="login" class="nav-link">Login</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>