@page "/Products"
@inject IProductsEndpoint ProductEndpoints
<PageTitle>Products</PageTitle>

<h3>Products</h3>


<ErrorAlert ShowAlert="@_showError" ErrorMessage="@_errorMessage"/>

<LoadingSpinner IsLoading="@_isLoading"/>

@if (!_isLoading && ProductsList != null)
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var product in ProductsList)
            {
                <ProductCard product="@product"/>
            }
        </div>
    </div>
}

@code {
    private bool _isLoading;
    private bool _showError;
    private string _errorMessage;
    private List<ProductModel> ProductsList;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _showError = false;

        try
        {
            ProductsList = await ProductEndpoints.GetAll();
            _isLoading = false;
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
            _isLoading = false;
            _showError = true;
        }
    }

}